<div class="container pt-5">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" [routerLink]="''"><img src="https://www.obs.tv/assets/logoOBS.png" alt="obs logo" title="logo"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item  mr-3">
          <a class="nav-link pt-3" [routerLink]="''">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mr-3" *ngIf="login">
          <a class="nav-link pt-3" href="javascript:void(0)" (click)="closeSesion()" >LogOut</a>
        </li>
        <li class="nav-item" *ngIf="!login">
          <a class="nav-link btn btn-outline-primary btn-block pr-5 pl-5 pt-3 pb-3" [routerLink]="'/login'">Login</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<main class="container mt-5">
  <router-outlet></router-outlet>
</main>
